
body { margin: 0; overflow: hidden; }
#loading {
  width: 100vw; height: 100vh;
  background-color: #6b9efc;
  color: #fff;
  font-size: 48px;
  font-family: 'Gugi', sans-serif;
}
#loading .wrapper {
  text-align: center;
  position: relative;
}
@keyframes pulse {
  0%   { transform: scale(1);    opacity: 1; }
  50%  { transform: scale(1.1);  opacity: .8; }
  100% { transform: scale(1);    opacity: 1; }
}
#loading .wrapper .text {
  display: inline-block;
  animation: pulse 1s ease-in-out infinite;
}
.spinner {
  width: 50px; height: 50px;
  border: 5px solid rgba(255,255,255,0.2);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute; top: 65%; left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

#ui-container {
  position: absolute; top: 10px; left: 10px;
  width: 100%;
  color: white; font: 20px Arial; text-shadow: 2px 2px 4px #000;
}
.center {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#level {
  font-size: 48px;
  color: #fff;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#plus-points {
  font-size: 48px; color: #0ee724; font-weight: 600;
  display: none; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute; 
  width: 100%;
  text-align: center;
  top: 60%;
}
#instructions {
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color:#a867f6;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
  display: none;
}
#game-over {
  color: red; font: 60px Arial; text-shadow: 2px 2px 4px #000;
  display: none;
}
#restart-button {
  position: absolute; top: 60%; left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px; font-size: 24px; margin-block: 40px;
  background: red; color: white; border: none; border-radius: 5px;
  cursor: pointer; display: none;
}
#points {
  color: #f1d314;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-size: 72px; text-shadow: 2px 2px 4px #000;
}

#debug-container {
  position: absolute; top: 10px; right: 10px;
  color: white; 
  display: none;
  font: 24px Arial; 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-bottom: 50px; 
  border-radius: 5px;
}
#gui-container {
  margin-inline: auto;
  display: block;
  width: min-content;
}
